
.white-hr {
	border: none;
	height: 2px;
	background-color: white;
}

.form-section {
	display: none;
}

.form-section.active {
	display: block;
}

.sidebar-sticky {
	height: 100%;
	overflow-y: auto;
}

.sidebar-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 100vh;
	padding-top: 20px;
}

.sidebar-sticky ul {
	padding-left: 0;
}

.sidebar-sticky li {
	transition: all 0.3s ease;
}

.sidebar-sticky li:hover {
	transform: translateX(10px);
}

.sidebar-sticky .nav-link {
	display: flex;
	align-items: center;
}

.sidebar-sticky .nav-link i {
	margin-right: 10px;
}

#mainview {
	display: none;
}

#hiddenInp {
	display: none;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
}

.spinner {
	border: 8px solid rgba(0, 0, 0, 0.1);
	border-top: 8px solid #000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

