.ellipsis-span {
    overflow: hidden;
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." nếu nội dung bị cắt */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Số dòng tối đa */
    -webkit-box-orient: vertical;
}

.body-dark {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #333;
}
.body-white {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

    background-color: #fff;
}

.custom-alert {
    overflow: hidden;

    white-space: nowrap;
}

.alert-message {
    display: inline-block;

    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}
.row > * {
    padding-right: 0; /* Đặt padding-right là 0 */
}
.row {
    margin-right: 0;
}
.theme-dark {
    color: white;
}
.theme-white {
    color: black;
}
.hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red; /* Màu của gạch chân */
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
